

.navigation{
  background-color: lightgrey;
  color: white;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
}
.picture {
  width: 33%;
  float: left;
  padding-right: 2px;
  padding-bottom: 10px;
}
.picture img{
  width: 100%;
}
.number{
  text-decoration: underline;
  text-decoration-color: yellow;
  font-weight: bold;
}
.picture_grid{
  list-style-type: none;
  display: inline-table;
  width: 80%;
  margin-left: auto;
  padding-left: 100px;
}
.picture_title{
  background-color: #67efdb;
  width: 900px;
  margin: auto;
}
.picture_footer{
  background-color: #FFD700;
  margin: auto;
  text-align: center;
}

.menu{
  text-align: center;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  padding: 16px;
font-size: 10px;
}
